<a href="https://colab.research.google.com/github/Many98/real_estate/blob/models/notebooks/basic_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MODELS

# BEZREALITKY DATA

In [586]:
import pandas as pd
import numpy as np
df = pd.read_csv('prodej_breality_scraped.csv')
df = df.drop(df.columns[[0,2,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,26,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,75,76]], axis=1)
df = df.drop(df.columns[[15,16,17,18,19,22,24,25,27,32]], axis=1)
df['has_parking'] = df['has_parking'].astype('bool')
df['has_loggia'] = df['has_loggia'].astype('bool')
df['has_cellar'] = df['has_cellar'].astype('bool')
df['energy_effeciency'] = df['energy_effeciency'].replace(['A','B','C','D','E','F','G'], [1,2,3,4,5,6,7])
df["has_garden"].fillna(0, inplace = True)
df["cellar_area"].fillna(0, inplace = True)
df["loggia_area"].fillna(0, inplace = True)
df["balcony_area"].fillna(0, inplace = True)
df = df.dropna()
one_hot = pd.get_dummies(df['ownership'])
df = df.join(one_hot)
df = df.drop(['ownership'], axis=1)
# df.info()

CATEGORIZE DISTANCE

In [587]:
# label 2100_MHD means <2000, because of feature_names may not contain [, ] or <
'''df['MHD_dist'] = pd.cut(df['MHD_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_MHD', '200_MHD', '300_MHD','400_MHD','500_MHD','600_MHD','700_MHD','800_MHD','900_MHD','1000_MHD','1100_MHD','1200_MHD','1300_MHD','1400_MHD','1500_MHD','1600_MHD','1700_MHD','1800_MHD','1900_MHD','2000_MHD','2100_MHD'])
df['post_office_dist'] = pd.cut(df['post_office_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_POST', '200_POST', '300_POST','400_POST','500_POST','600_POST','700_POST','800_POST','900_POST','1000_POST','1100_POST','1200_POST','1300_POST','1400_POST','1500_POST','1600_POST','1700_POST','1800_POST','1900_POST','2000_POST','2100_POST'])
df['bank_dist'] = pd.cut(df['bank_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_BANK', '200_BANK', '300_BANK','400_BANK','500_BANK','600_BANK','700_BANK','800_BANK','900_BANK','1000_BANK','1100_BANK','1200_BANK','1300_BANK','1400_BANK','1500_BANK','1600_BANK','1700_BANK','1800_BANK','1900_BANK','2000_BANK','<2000_BANK'])
df['primary_school_dist'] = pd.cut(df['primary_school_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_SCHOOL', '200_SCHOOL', '300_SCHOOL','400_SCHOOL','500_SCHOOL','600_SCHOOL','700_SCHOOL','800_SCHOOL','900_SCHOOL','1000_SCHOOL','1100_SCHOOL','1200_SCHOOL','1300_SCHOOL','1400_SCHOOL','1500_SCHOOL','1600_SCHOOL','1700_SCHOOL','1800_SCHOOL','1900_SCHOOL','2000_SCHOOL','2100_SCHOOL'])
df['supermarket_grocery_dist'] = pd.cut(df['supermarket_grocery_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_MARKET', '200_MARKET', '300_MARKET','400_MARKET','500_MARKET','600_MARKET','700_MARKET','800_MARKET','900_MARKET','1000_MARKET','1100_MARKET','1200_MARKET','1300_MARKET','1400_MARKET','1500_MARKET','1600_MARKET','1700_MARKET','1800_MARKET','1900_MARKET','2000_MARKET','2100_MARKET'])
df['restaurant_pub_dist'] = pd.cut(df['restaurant_pub_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PUB', '200_PUB', '300_PUB','400_PUB','500_PUB','600_PUB','700_PUB','800_PUB','900_PUB','1000_PUB','1100_PUB','1200_PUB','1300_PUB','1400_PUB','1500_PUB','1600_PUB','1700_PUB','1800_PUB','1900_PUB','2000_PUB','2100_PUB'])
df['playground_dist'] = pd.cut(df['playground_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PLAY', '200_PLAY', '300_PLAY','400_PLAY','500_PLAY','600_PLAY','700_PLAY','800_PLAY','900_PLAY','1000_PLAY','1100_PLAY','1200_PLAY','1300_PLAY','1400_PLAY','1500_PLAY','1600_PLAY','1700_PLAY','1800_PLAY','1900_PLAY','2000_PLAY','2100_PLAY'])
df['sports_field_dist'] = pd.cut(df['sports_field_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_SPORT', '200_SPORT', '300_SPORT','400_SPORT','500_SPORT','600_SPORT','700_SPORT','800_SPORT','900_SPORT','1000_SPORT','1100_SPORT','1200_SPORT','1300_SPORT','1400_SPORT','1500_SPORT','1600_SPORT','1700_SPORT','1800_SPORT','1900_SPORT','2000_SPORT','2100_SPORT'])
df['pharmacy_dist'] = pd.cut(df['pharmacy_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PHARMACY', '200_PHARMACY', '300_PHARMACY', '400_PHARMACY', '500_PHARMACY', '600_PHARMACY', '700_PHARMACY', '800_PHARMACY', '900_SPHARMACY', '1000_PHARMACY', '1100_PHARMACY', '1200_PHARMACY', '1300_PHARMACY', '1400_PHARMACY', '1500_PHARMACY', '1600_PHARMACY', '1700_PHARMACY', '1800_PHARMACY', '1900_PHARMACY', '2000_PHARMACY', '2100_PHARMACY'])
# df.max(axis=0)'''

"df['MHD_dist'] = pd.cut(df['MHD_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_MHD', '200_MHD', '300_MHD','400_MHD','500_MHD','600_MHD','700_MHD','800_MHD','900_MHD','1000_MHD','1100_MHD','1200_MHD','1300_MHD','1400_MHD','1500_MHD','1600_MHD','1700_MHD','1800_MHD','1900_MHD','2000_MHD','2100_MHD'])\ndf['post_office_dist'] = pd.cut(df['post_office_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_POST', '200_POST', '300_POST','400_POST','500_POST','600_POST','700_POST','800_POST','900_POST','1000_POST','1100_POST','1200_POST','1300_POST','1400_POST','1500_POST','1600_POST','1700_POST','1800_POST','1900_POST','2000_POST','2100_POST'])\ndf['bank_dist'] = pd.cut(df['bank_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_BANK', '200_BANK', '300_BANK','400_BANK','500_BANK','600_BANK','700_BANK','800_BANK','900_BANK','1000_BANK','1100_BANK','1200_BANK','1300_BANK','1400_BANK','1500_BANK','1600_BANK','1700_BANK','1800_BANK','1900_BANK','2000_BANK','<2000_BANK'])\ndf['primary_school_dist'] = pd.cut(df['primary_school_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_SCHOOL', '200_SCHOOL', '300_SCHOOL','400_SCHOOL','500_SCHOOL','600_SCHOOL','700_SCHOOL','800_SCHOOL','900_SCHOOL','1000_SCHOOL','1100_SCHOOL','1200_SCHOOL','1300_SCHOOL','1400_SCHOOL','1500_SCHOOL','1600_SCHOOL','1700_SCHOOL','1800_SCHOOL','1900_SCHOOL','2000_SCHOOL','2100_SCHOOL'])\ndf['supermarket_grocery_dist'] = pd.cut(df['supermarket_grocery_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_MARKET', '200_MARKET', '300_MARKET','400_MARKET','500_MARKET','600_MARKET','700_MARKET','800_MARKET','900_MARKET','1000_MARKET','1100_MARKET','1200_MARKET','1300_MARKET','1400_MARKET','1500_MARKET','1600_MARKET','1700_MARKET','1800_MARKET','1900_MARKET','2000_MARKET','2100_MARKET'])\ndf['restaurant_pub_dist'] = pd.cut(df['restaurant_pub_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PUB', '200_PUB', '300_PUB','400_PUB','500_PUB','600_PUB','700_PUB','800_PUB','900_PUB','1000_PUB','1100_PUB','1200_PUB','1300_PUB','1400_PUB','1500_PUB','1600_PUB','1700_PUB','1800_PUB','1900_PUB','2000_PUB','2100_PUB'])\ndf['playground_dist'] = pd.cut(df['playground_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PLAY', '200_PLAY', '300_PLAY','400_PLAY','500_PLAY','600_PLAY','700_PLAY','800_PLAY','900_PLAY','1000_PLAY','1100_PLAY','1200_PLAY','1300_PLAY','1400_PLAY','1500_PLAY','1600_PLAY','1700_PLAY','1800_PLAY','1900_PLAY','2000_PLAY','2100_PLAY'])\ndf['sports_field_dist'] = pd.cut(df['sports_field_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_SPORT', '200_SPORT', '300_SPORT','400_SPORT','500_SPORT','600_SPORT','700_SPORT','800_SPORT','900_SPORT','1000_SPORT','1100_SPORT','1200_SPORT','1300_SPORT','1400_SPORT','1500_SPORT','1600_SPORT','1700_SPORT','1800_SPORT','1900_SPORT','2000_SPORT','2100_SPORT'])\ndf['pharmacy_dist'] = pd.cut(df['pharmacy_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PHARMACY', '200_PHARMACY', '300_PHARMACY', '400_PHARMACY', '500_PHARMACY', '600_PHARMACY', '700_PHARMACY', '800_PHARMACY', '900_SPHARMACY', '1000_PHARMACY', '1100_PHARMACY', '1200_PHARMACY', '1300_PHARMACY', '1400_PHARMACY', '1500_PHARMACY', '1600_PHARMACY', '1700_PHARMACY', '1800_PHARMACY', '1900_PHARMACY', '2000_PHARMACY', '2100_PHARMACY'])\n# df.max(axis=0)"

In [588]:
'''dist = ['100_', '200_', '300_','400_','500_','600_','700_','800_','900_S','1000_','1100_','1200_','1300_','1400_','1500_','1600_','1700_','1800_','1900_','2000_','2100_']
label_dist = []
for i in dist:
  label_dist.append(i + 'PHARMACY')
print(label_dist)'''

"dist = ['100_', '200_', '300_','400_','500_','600_','700_','800_','900_S','1000_','1100_','1200_','1300_','1400_','1500_','1600_','1700_','1800_','1900_','2000_','2100_']\nlabel_dist = []\nfor i in dist:\n  label_dist.append(i + 'PHARMACY')\nprint(label_dist)"

In [589]:
'''one_hot = pd.get_dummies(df['MHD_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['MHD_dist'], axis=1)
one_hot = pd.get_dummies(df['post_office_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['post_office_dist'], axis=1)
one_hot = pd.get_dummies(df['bank_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['bank_dist'], axis=1)
one_hot = pd.get_dummies(df['primary_school_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['primary_school_dist'], axis=1)
one_hot = pd.get_dummies(df['supermarket_grocery_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['supermarket_grocery_dist'], axis=1)
one_hot = pd.get_dummies(df['restaurant_pub_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['restaurant_pub_dist'], axis=1)
one_hot = pd.get_dummies(df['playground_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['playground_dist'], axis=1)
one_hot = pd.get_dummies(df['sports_field_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['sports_field_dist'], axis=1)
one_hot = pd.get_dummies(df['pharmacy_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['pharmacy_dist'], axis=1)'''
df['DRUZSTEVNI'] = df['DRUZSTEVNI'].astype('bool')
df['OSOBNI'] = df['OSOBNI'].astype('bool')
df['UNDEFINED'] = df['UNDEFINED'].astype('bool')

In [590]:
df = df.drop(df.columns[[14,15,16,17,18,19,20,21,22,11,12,13]], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 0 to 799
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              501 non-null    int64
 1   usable_area        501 non-null    int64
 2   floor              501 non-null    float64
 3   energy_effeciency  501 non-null    float64
 4   has_lift           501 non-null    bool
 5   has_garage         501 non-null    bool
 6   has_cellar         501 non-null    bool
 7   has_loggia         501 non-null    bool
 8   has_balcony        501 non-null    bool
 9   has_garden         501 non-null    float64
 10  has_parking        501 non-null    bool
 11  DRUZSTEVNI         501 non-null    bool
 12  OSOBNI             501 non-null    bool
 13  UNDEFINED          501 non-null    bool
dtypes: bool(9), float64(3), int64(2)
memory usage: 44.1 KB

#SREALITY DATA

In [591]:
import re
dfs = pd.read_csv('prodej_sreality_scraped.csv')
dfs = dfs.drop(dfs.columns[[0,2,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,45,50]], axis=1)
one_hot = pd.get_dummies(dfs['ownership'])
dfs = dfs.join(one_hot)
dfs = dfs.drop(['ownership'], axis=1)
dfs.rename(columns = {'Družstevní':'DRUZSTEVNI'}, inplace = True)
dfs.rename(columns = {'Osobní':'OSOBNI'}, inplace = True)
dfs.rename(columns = {'Státní/obecní':'UNDEFINED'}, inplace = True)
dfs["has_lift"].fillna(0, inplace = True)
dfs["has_garage"].fillna(0, inplace = True)
dfs["has_cellar"].fillna(0, inplace = True)
dfs["has_balcony"].fillna(0, inplace = True)
dfs["has_garden"].fillna(0, inplace = True)
dfs["has_parking"].fillna(0, inplace = True)
dfs["has_loggia"].fillna(0, inplace = True)
dfs = dfs.dropna()
dfs['floor'] = dfs['floor'].apply(lambda x: x.replace('přízemí', '0.') if x is not np.nan else np.nan)
dfs['floor'] = dfs['floor'].apply(lambda x: x.split('.')[0] if x is not np.nan else np.nan)
dfs['price'] = dfs['price'].apply(lambda x: x.replace('Informace o ceně na dotaz', 'info') if x is not np.nan else np.nan)
dfs['price'] = dfs['price'].replace('info',np.NaN)
dfs['price'] = dfs['price'].apply(lambda x: x.split(' ')[0] if x is not np.nan else np.nan)
#dfs['price'] = dfs['price'].map(lambda x: x.rstrip('Kč za nemovitost'))
#dfs['price'] = dfs['price'].map(lambda x: x.rstrip('Kč za nemovitost (k jednání)'))
#dfs['usable_area'] = dfs['usable_area'].map(lambda x: x.rstrip(' m2'))
dfs = dfs.reset_index(drop=True)
for i in range(3559):
  if re.findall(r'\d+', dfs['usable_area'][i]) == []:
    pass
  else: 
    dfs['usable_area'][i] = (re.findall(r'\d+', dfs['usable_area'][i])[0])

  dfs['energy_effeciency'][i] = dfs['energy_effeciency'][i][0:7]
  dfs['energy_effeciency'][i] = dfs['energy_effeciency'][i][-1:]

  if dfs['has_lift'][i] == 'ano':
    dfs['has_lift'][i] = 1
  elif dfs['has_lift'][i] == 'ne':
    dfs['has_lift'][i] = 0
  if dfs['has_garage'][i] == '1' or '2':
    dfs['has_garage'][i] = 1
  if dfs['has_parking'][i] == '1' or '2':
    dfs['has_parking'][i] = 1
  if dfs['has_cellar'][i] == 'ano':
    dfs['has_cellar'][i] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [592]:
dfs = dfs.dropna()   
dfs['price'] = dfs['price'].replace('info',np.NaN)
dfs = dfs.dropna()  
dfs = dfs.reset_index(drop=True) 
dfs

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,price,usable_area,floor,energy_effeciency,has_lift,has_garage,has_cellar,has_loggia,has_balcony,has_garden,has_parking,DRUZSTEVNI,OSOBNI,UNDEFINED
0,6842000,26,2,G,1,1,1,0,0,0.0,1,0,1,0
1,6490000,61,4,E,1,1,0,0,0,0.0,1,0,1,0
2,6909025,43,3,B,0,1,2 m2,0,3 m2,0.0,1,0,1,0
3,5819600,36,2,B,0,1,2 m2,0,0,0.0,1,0,1,0
4,6500000,39,3,D,0,1,0,0,0,0.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369,15490000,130,5,G,1,1,0,14 m2,14 m2,0.0,1,1,0,0
3370,9354044,79,2,B,1,1,1,5 m2,0,0.0,1,0,1,0
3371,9857505,64,3,B,1,1,0,5 m2,0,0.0,1,0,1,0
3372,7828000,38,6,G,1,1,0,0,0,0.0,1,0,1,0
3373,8968000,91,5,B,1,1,3 m2,0,0,0.0,1,0,1,0

In [593]:
dfs['has_cellar'] = dfs['has_cellar'].astype('bool')
dfs['has_lift'] = dfs['has_lift'].astype('bool')
dfs['has_garage'] = dfs['has_garage'].astype('bool')
dfs['has_parking'] = dfs['has_parking'].astype('bool')
dfs['has_loggia'] = dfs['has_loggia'].astype('bool')
dfs['has_balcony'] = dfs['has_balcony'].astype('bool')
dfs['DRUZSTEVNI'] = dfs['DRUZSTEVNI'].astype('bool')
dfs['OSOBNI'] = dfs['OSOBNI'].astype('bool')
dfs['UNDEFINED'] = dfs['UNDEFINED'].astype('bool')
dfs['energy_effeciency'] = dfs['energy_effeciency'].replace(['A','B','C','D','E','F','G'], [1,2,3,4,5,6,7])
dfs['energy_effeciency'] = dfs['energy_effeciency'].astype('float')
dfs['usable_area'] = dfs['usable_area'].astype('int')
dfs['floor'] = dfs['floor'].astype(float)
dfs = dfs.reset_index(drop=True) 
for i in range(3373):
  dfs['price'][i] = dfs['price'][i].replace(u'\xa0', u'')
  dfs['price'][i] = dfs['price'][i].replace(u'Kč', u'')
dfs['price'] = dfs['price'].astype('int')
dfs.info()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3374 entries, 0 to 3373
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              3374 non-null   int64
 1   usable_area        3374 non-null   int64
 2   floor              3374 non-null   float64
 3   energy_effeciency  3374 non-null   float64
 4   has_lift           3374 non-null   bool
 5   has_garage         3374 non-null   bool
 6   has_cellar         3374 non-null   bool
 7   has_loggia         3374 non-null   bool
 8   has_balcony        3374 non-null   bool
 9   has_garden         3374 non-null   float64
 10  has_parking        3374 non-null   bool
 11  DRUZSTEVNI         3374 non-null   bool
 12  OSOBNI             3374 non-null   bool
 13  UNDEFINED          3374 non-null   bool
dtypes: bool(9), float64(3), int64(2)
memory usage: 161.6 KB

In [603]:
from sklearn.model_selection import train_test_split
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)
df.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in df.columns.values]
df = df.append(dfs)
# print(X_test) # targets, usually y
X = df['price'].values.reshape(-1,1)
# print(Y_test.info()) # input, usually X
Y = df.drop(df.columns[[0]], axis=1)
Y_train, Y_test, X_train, X_test = train_test_split(Y, X, test_size=0.33, random_state=42, shuffle=True)

In [604]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3875 entries, 0 to 3373
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   price              3875 non-null   int64
 1   usable_area        3875 non-null   int64
 2   floor              3875 non-null   float64
 3   energy_effeciency  3875 non-null   float64
 4   has_lift           3875 non-null   bool
 5   has_garage         3875 non-null   bool
 6   has_cellar         3875 non-null   bool
 7   has_loggia         3875 non-null   bool
 8   has_balcony        3875 non-null   bool
 9   has_garden         3875 non-null   float64
 10  has_parking        3875 non-null   bool
 11  DRUZSTEVNI         3875 non-null   bool
 12  OSOBNI             3875 non-null   bool
 13  UNDEFINED          3875 non-null   bool
dtypes: bool(9), float64(3), int64(2)
memory usage: 215.7 KB

#DECISION TREE

In [613]:
from sklearn import tree 
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
clf = tree.DecisionTreeRegressor(max_depth=5, criterion = 'absolute_error', random_state = 0) # 15 = 0.6, 20 = 0.7, 5 = 0.15
clf = clf.fit(Y_train, X_train)
# mean accuracy
print("The model training score is" , clf.score(Y_train, X_train))
print("The model testing score is" , clf.score(Y_test, X_test))
y_pred_tree = clf.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from 0.48 to 0.29!

The model training score is 0.7622423087961335
The model testing score is 0.6424820167107556
The model testing mean absolute error is 1764278.732994527

#RANDOM FOREST TODO

In [614]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Y_train, X_train = make_regression(n_features=23, n_informative=2, random_state=0, shuffle=False)
regr = RandomForestRegressor(n_estimators = 100, max_depth=5, criterion = 'absolute_error', random_state=0)
regr = regr.fit(Y_train, X_train)
# coefficient of determination
print("The model training score is" , regr.score(Y_train, X_train))
print("The model testing score is" , regr.score(Y_test, X_test))
y_pred_tree = regr.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from 0.5 to 0.62!

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

The model training score is 0.7529689472658921
The model testing score is 0.6813632551627942
The model testing mean absolute error is 1661576.8150234558

#BASIC REGRESSION

In [607]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(Y_train, X_train)
r_sq = model.score(Y_train, X_train)
print(f"Coefficient of determination: {r_sq}")
# y_pred = model.predict(Y_test)
r2_score = model.score(Y_test, X_test)
print(f"Coefficient of determination: {r2_score}")
y_pred_tree = model.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from 0.55 to 0.19!

Coefficient of determination: 0.6739294005676206
Coefficient of determination: 0.7106410170869124
The model testing mean absolute error is 1810096.1453091016

#NEAREST K-NEIGH. REGRESSION

In [608]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(Y_train, X_train)
# coefficient of determination
print("The model training score is" , neigh.score(Y_train, X_train))
print("The model testing score is" , neigh.score(Y_test, X_test))
y_pred_tree = neigh.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from -0.18 to 0.49

The model training score is 0.8484274587822296
The model testing score is 0.6165000583302404
The model testing mean absolute error is 1942716.070758405

#NN

In [609]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
regr = MLPRegressor(random_state=1, max_iter=100).fit(Y_train, X_train)
# coefficient of determination
print("The model training score is" , neigh.score(Y_train, X_train))
print("The model testing score is" , neigh.score(Y_test, X_test))
y_pred_tree = regr.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from -0.18 to 0.49

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

The model training score is 0.8484274587822296
The model testing score is 0.6165000583302404
The model testing mean absolute error is 9058046.697841713

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

#XGBOOST TODO

In [618]:
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
model = XGBRegressor(max_depth = 2)
model.fit(Y_train, X_train)
# make predictions for test data
y_pred = model.predict(Y_test)
predictions = [round(value) for value in y_pred]
print("The model training score is" , model.score(Y_train, X_train))
print("The model testing score is" , model.score(Y_test, X_test))
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred))

# comment: with one hot encoding dist, R^2 of test data went from 0.6 to 0.64

[15:31:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
The model training score is 0.8016390040710194
The model testing score is 0.7247283709722214
The model testing mean absolute error is 1677400.3170445662