<a href="https://colab.research.google.com/github/Many98/real_estate/blob/models/notebooks/basic_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MODELS

# BEZREALITKY DATA

In [127]:
import pandas as pd
import numpy as np
df = pd.read_csv('prodej_breality_scraped.csv')
df = df.drop(df.columns[[0,2,4,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,26,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,75,76]], axis=1)
df = df.drop(df.columns[[15,16,17,18,19,22,24,25,27,32]], axis=1)
df['has_parking'] = df['has_parking'].astype('bool')
df['has_loggia'] = df['has_loggia'].astype('bool')
df['has_cellar'] = df['has_cellar'].astype('bool')
df['energy_effeciency'] = df['energy_effeciency'].replace(['A','B','C','D','E','F','G'], [1,2,3,4,5,6,7])
df["has_garden"].fillna(0, inplace = True)
df["cellar_area"].fillna(0, inplace = True)
df["loggia_area"].fillna(0, inplace = True)
df["balcony_area"].fillna(0, inplace = True)
df = df.dropna()
one_hot = pd.get_dummies(df['ownership'])
df = df.join(one_hot)
df = df.drop(['ownership'], axis=1)
# df.info()

CATEGORIZE DISTANCE

In [128]:
# label 2100_MHD means <2000, because of feature_names may not contain [, ] or <
df['MHD_dist'] = pd.cut(df['MHD_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_MHD', '200_MHD', '300_MHD','400_MHD','500_MHD','600_MHD','700_MHD','800_MHD','900_MHD','1000_MHD','1100_MHD','1200_MHD','1300_MHD','1400_MHD','1500_MHD','1600_MHD','1700_MHD','1800_MHD','1900_MHD','2000_MHD','2100_MHD'])
df['post_office_dist'] = pd.cut(df['post_office_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_POST', '200_POST', '300_POST','400_POST','500_POST','600_POST','700_POST','800_POST','900_POST','1000_POST','1100_POST','1200_POST','1300_POST','1400_POST','1500_POST','1600_POST','1700_POST','1800_POST','1900_POST','2000_POST','2100_POST'])
df['bank_dist'] = pd.cut(df['bank_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_BANK', '200_BANK', '300_BANK','400_BANK','500_BANK','600_BANK','700_BANK','800_BANK','900_BANK','1000_BANK','1100_BANK','1200_BANK','1300_BANK','1400_BANK','1500_BANK','1600_BANK','1700_BANK','1800_BANK','1900_BANK','2000_BANK','<2000_BANK'])
df['primary_school_dist'] = pd.cut(df['primary_school_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_SCHOOL', '200_SCHOOL', '300_SCHOOL','400_SCHOOL','500_SCHOOL','600_SCHOOL','700_SCHOOL','800_SCHOOL','900_SCHOOL','1000_SCHOOL','1100_SCHOOL','1200_SCHOOL','1300_SCHOOL','1400_SCHOOL','1500_SCHOOL','1600_SCHOOL','1700_SCHOOL','1800_SCHOOL','1900_SCHOOL','2000_SCHOOL','2100_SCHOOL'])
df['supermarket_grocery_dist'] = pd.cut(df['supermarket_grocery_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_MARKET', '200_MARKET', '300_MARKET','400_MARKET','500_MARKET','600_MARKET','700_MARKET','800_MARKET','900_MARKET','1000_MARKET','1100_MARKET','1200_MARKET','1300_MARKET','1400_MARKET','1500_MARKET','1600_MARKET','1700_MARKET','1800_MARKET','1900_MARKET','2000_MARKET','2100_MARKET'])
df['restaurant_pub_dist'] = pd.cut(df['restaurant_pub_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PUB', '200_PUB', '300_PUB','400_PUB','500_PUB','600_PUB','700_PUB','800_PUB','900_PUB','1000_PUB','1100_PUB','1200_PUB','1300_PUB','1400_PUB','1500_PUB','1600_PUB','1700_PUB','1800_PUB','1900_PUB','2000_PUB','2100_PUB'])
df['playground_dist'] = pd.cut(df['playground_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PLAY', '200_PLAY', '300_PLAY','400_PLAY','500_PLAY','600_PLAY','700_PLAY','800_PLAY','900_PLAY','1000_PLAY','1100_PLAY','1200_PLAY','1300_PLAY','1400_PLAY','1500_PLAY','1600_PLAY','1700_PLAY','1800_PLAY','1900_PLAY','2000_PLAY','2100_PLAY'])
df['sports_field_dist'] = pd.cut(df['sports_field_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_SPORT', '200_SPORT', '300_SPORT','400_SPORT','500_SPORT','600_SPORT','700_SPORT','800_SPORT','900_SPORT','1000_SPORT','1100_SPORT','1200_SPORT','1300_SPORT','1400_SPORT','1500_SPORT','1600_SPORT','1700_SPORT','1800_SPORT','1900_SPORT','2000_SPORT','2100_SPORT'])
df['pharmacy_dist'] = pd.cut(df['pharmacy_dist'], bins=[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 10000], include_lowest=True, labels=['100_PHARMACY', '200_PHARMACY', '300_PHARMACY', '400_PHARMACY', '500_PHARMACY', '600_PHARMACY', '700_PHARMACY', '800_PHARMACY', '900_SPHARMACY', '1000_PHARMACY', '1100_PHARMACY', '1200_PHARMACY', '1300_PHARMACY', '1400_PHARMACY', '1500_PHARMACY', '1600_PHARMACY', '1700_PHARMACY', '1800_PHARMACY', '1900_PHARMACY', '2000_PHARMACY', '2100_PHARMACY'])
# df.max(axis=0)

In [129]:
dist = ['100_', '200_', '300_','400_','500_','600_','700_','800_','900_S','1000_','1100_','1200_','1300_','1400_','1500_','1600_','1700_','1800_','1900_','2000_','2100_']
label_dist = []
for i in dist:
  label_dist.append(i + 'PHARMACY')
print(label_dist)

['100_PHARMACY', '200_PHARMACY', '300_PHARMACY', '400_PHARMACY', '500_PHARMACY', '600_PHARMACY', '700_PHARMACY', '800_PHARMACY', '900_SPHARMACY', '1000_PHARMACY', '1100_PHARMACY', '1200_PHARMACY', '1300_PHARMACY', '1400_PHARMACY', '1500_PHARMACY', '1600_PHARMACY', '1700_PHARMACY', '1800_PHARMACY', '1900_PHARMACY', '2000_PHARMACY', '2100_PHARMACY']

In [130]:
one_hot = pd.get_dummies(df['MHD_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['MHD_dist'], axis=1)
one_hot = pd.get_dummies(df['post_office_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['post_office_dist'], axis=1)
one_hot = pd.get_dummies(df['bank_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['bank_dist'], axis=1)
one_hot = pd.get_dummies(df['primary_school_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['primary_school_dist'], axis=1)
one_hot = pd.get_dummies(df['supermarket_grocery_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['supermarket_grocery_dist'], axis=1)
one_hot = pd.get_dummies(df['restaurant_pub_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['restaurant_pub_dist'], axis=1)
one_hot = pd.get_dummies(df['playground_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['playground_dist'], axis=1)
one_hot = pd.get_dummies(df['sports_field_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['sports_field_dist'], axis=1)
one_hot = pd.get_dummies(df['pharmacy_dist']).astype('bool')
df = df.join(one_hot)
df = df.drop(['pharmacy_dist'], axis=1)

df['DRUZSTEVNI'] = df['DRUZSTEVNI'].astype('bool')
df['OSOBNI'] = df['OSOBNI'].astype('bool')
df['UNDEFINED'] = df['UNDEFINED'].astype('bool')

In [131]:
df.head()

,price,usable_area,floor,energy_effeciency,has_lift,has_garage,has_cellar,has_loggia,has_balcony,has_garden,...,1200_PHARMACY,1300_PHARMACY,1400_PHARMACY,1500_PHARMACY,1600_PHARMACY,1700_PHARMACY,1800_PHARMACY,1900_PHARMACY,2000_PHARMACY,2100_PHARMACY
0,19590000,161,3.0,7.0,True,False,False,False,True,0.0,...,False,False,False,False,False,False,False,False,False,False
1,6199999,48,6.0,3.0,True,False,True,False,True,0.0,...,False,False,False,False,False,False,False,False,False,False
2,6750000,61,2.0,2.0,True,False,False,True,False,0.0,...,False,False,False,False,False,False,False,False,False,False
3,17750000,123,6.0,2.0,True,True,True,False,True,0.0,...,False,False,False,False,False,False,False,False,False,False
4,7000000,47,3.0,7.0,False,False,True,False,True,0.0,...,False,False,False,False,False,False,False,False,False,False

In [132]:
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)
df.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in df.columns.values]

#SREALITY DATA

In [133]:
dfs = pd.read_csv('prodej_sreality_scraped.csv')
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332 entries, 0 to 4331
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   header                    4314 non-null   object
 1   price                     4137 non-null   object
 2   note                      2019 non-null   object
 3   usable_area               4273 non-null   object
 4   floor_area                0 non-null      float64
 5   floor                     4273 non-null   object
 6   energy_effeciency         3694 non-null   object
 7   ownership                 4273 non-null   object
 8   description               4316 non-null   object
 9   long                      4332 non-null   object
 10  lat                       4332 non-null   object
 11  hash                      0 non-null      float64
 12  bus_station_dist          4287 non-null   object
 13  train_station_dist        4285 non-null   object
 14  subway_station_dist       4193 non-null   object
 15  tram_station_dist         4238 non-null   object
 16  MHD_dist                  0 non-null      float64
 17  post_office_dist          4288 non-null   object
 18  atm_dist                  4288 non-null   object
 19  doctor_dist               4271 non-null   object
 20  vet_dist                  4287 non-null   object
 21  primary_school_dist       4288 non-null   object
 22  kindergarten_dist         4288 non-null   object
 23  supermarket_grocery_dist  4288 non-null   object
 24  restaurant_pub_dist       4288 non-null   object
 25  playground_dist           4289 non-null   object
 26  sports_field_dist         4289 non-null   object
 27  theatre_cinema_dist       4288 non-null   object
 28  pharmacy_dist             4288 non-null   object
 29  gas                       1051 non-null   object
 30  waste                     2119 non-null   object
 31  equipment                 1908 non-null   object
 32  state                     4273 non-null   object
 33  construction_type         4273 non-null   object
 34  place                     2101 non-null   object
 35  electricity               1825 non-null   object
 36  heating                   2188 non-null   object
 37  transport                 2138 non-null   object
 38  year_reconstruction       326 non-null    float64
 39  telecomunication          1457 non-null   object
 40  tags                      0 non-null      float64
 41  disposition               0 non-null      float64
 42  has_lift                  2812 non-null   object
 43  has_garage                736 non-null    object
 44  has_cellar                2602 non-null   object
 45  no_barriers               0 non-null      float64
 46  has_loggia                843 non-null    object
 47  has_balcony               1210 non-null   object
 48  has_garden                0 non-null      float64
 49  has_parking               1243 non-null   object
 50  sports_field              4289 non-null   object
dtypes: float64(8), object(43)
memory usage: 1.7+ MB

In [134]:
from sklearn.model_selection import train_test_split
# print(X_test) # targets, usually y
X = df['price'].values.reshape(-1,1)
# print(Y_test.info()) # input, usually X
Y = df.drop(df.columns[[0]], axis=1)
Y_train, Y_test, X_train, X_test = train_test_split(Y, X, test_size=0.33, random_state=42, shuffle=True)

#DECISION TREE

In [135]:
from sklearn import tree 
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
clf = tree.DecisionTreeRegressor(max_depth=5, criterion = 'absolute_error', random_state = 0) # 15 = 0.6, 20 = 0.7, 5 = 0.15
clf = clf.fit(Y_train, X_train)
# mean accuracy
print("The model training score is" , clf.score(Y_train, X_train))
print("The model testing score is" , clf.score(Y_test, X_test))
y_pred_tree = clf.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from 0.48 to 0.29!

The model training score is 0.7999522272619716
The model testing score is 0.295304207895033
The model testing mean absolute error is 1927746.626506024

#RANDOM FOREST TODO

In [136]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Y_train, X_train = make_regression(n_features=23, n_informative=2, random_state=0, shuffle=False)
regr = RandomForestRegressor(n_estimators = 200, max_depth=5, criterion = 'absolute_error', random_state=0)
regr = regr.fit(Y_train, X_train)
# coefficient of determination
print("The model training score is" , regr.score(Y_train, X_train))
print("The model testing score is" , regr.score(Y_test, X_test))
y_pred_tree = regr.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from 0.5 to 0.62!

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

The model training score is 0.8667885845257394
The model testing score is 0.6217379944679653
The model testing mean absolute error is 1535504.4674849396

#BASIC REGRESSION

In [137]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(Y_train, X_train)
r_sq = model.score(Y_train, X_train)
print(f"Coefficient of determination: {r_sq}")
# y_pred = model.predict(Y_test)
r2_score = model.score(Y_test, X_test)
print(f"Coefficient of determination: {r2_score}")
y_pred_tree = model.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from 0.55 to 0.19!

Coefficient of determination: 0.8347633414254954
Coefficient of determination: 0.19480137122108643
The model testing mean absolute error is 2298112.0698411185

#NEAREST K-NEIGH. REGRESSION

In [138]:
from sklearn.neighbors import KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=2)
neigh.fit(Y_train, X_train)
# coefficient of determination
print("The model training score is" , neigh.score(Y_train, X_train))
print("The model testing score is" , neigh.score(Y_test, X_test))
y_pred_tree = neigh.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from -0.18 to 0.49

The model training score is 0.8530475969910492
The model testing score is 0.4933174154801975
The model testing mean absolute error is 1745021.8072289156

#NN

In [139]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
regr = MLPRegressor(random_state=1, max_iter=100).fit(Y_train, X_train)
# coefficient of determination
print("The model training score is" , neigh.score(Y_train, X_train))
print("The model testing score is" , neigh.score(Y_test, X_test))
y_pred_tree = regr.predict(Y_test)
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred_tree))

# comment: with one hot encoding dist, R^2 of test data went from -0.18 to 0.49

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

The model training score is 0.8530475969910492
The model testing score is 0.4933174154801975
The model testing mean absolute error is 8068511.126181235

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

#XGBOOST TODO

In [140]:
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
model = XGBRegressor(max_depth = 3)
model.fit(Y_train, X_train)
# make predictions for test data
y_pred = model.predict(Y_test)
predictions = [round(value) for value in y_pred]
print("The model training score is" , model.score(Y_train, X_train))
print("The model testing score is" , model.score(Y_test, X_test))
print("The model testing mean absolute error is", mean_absolute_error(X_test, y_pred))

# comment: with one hot encoding dist, R^2 of test data went from 0.6 to 0.64

[13:07:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
The model training score is 0.9436921651802413
The model testing score is 0.6408820536640564
The model testing mean absolute error is 1483619.7439759036